<!--The content below is only a placeholder and can be replaced.-->
  <h1 style="text-align:center">
    {{ title }}
  </h1>
<select id="category-select" (change)="onSelect($event.target.value)">
    <option value= {{-1}}>--Please choose a category--</option>
    <option value={{i}} *ngFor="let category of categories;let i = index;">{{category.name | titlecase}}</option>
</select>
<button (click)="onClick()">add/remove Category</button>
<hr>
<app-display-items *ngIf="!showCategories" [selectedCategory]="category"></app-display-items>
<app-display-categories *ngIf="showCategories"></app-display-categories>

