li{
    list-style-type: none;
    border-bottom: black 1px dotted;
    margin-bottom: 5px;
    width: 300px;
}
ul{
    padding: 0;
}
#name{
    display: inline-block;
    width: 180px;
}
#price{
    display: inline-block;
    width: 60px;
}
#button{
    width: 60px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

